<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="File" fileName="logs/app.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
<!--        <Logger name="org.ericace.nbody.JMEApp" level="error" />-->
<!--        <Logger name="org.ericace.nbody.BodyRenderInfo" level="info" />-->
<!--        <Logger name="org.ericace.nbody.ComputationRunner" level="info" />-->
<!--        <Logger name="org.ericace.nbody.Body" level="info" />-->
<!--        <Logger name="org.ericace.nbody.NBodySim" level="info" />-->
        <Root level="error">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>